@import "../mixins.pcss";

.card {
  padding: 40px;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-3), var(--box-shadow-inset-transparent);
  
  .is-light-theme-enabled & {
    box-shadow: var(--box-shadow-4), var(--box-shadow-inset-transparent);
  }
  
  @media (--mobile) {
    padding: 30px;
    border-radius: var(--border-radius);
  }
  
  &--hoverable {
    @mixin transition;
    @mixin shadow-on-hover;
  }
}
