@import "../mixins.pcss";

.card {
  padding: 40px;
  border-radius: var(--border-radius-2);
  
  @media (--mobile) {
    padding: 30px;
    border-radius: var(--border-radius);
  }
  
  @media (--mobile-s) {
    padding: 20px;
  }
  
  &--hoverable {
    @mixin transition;
    @mixin shadow-on-hover;
  }
}
