@import "../mixins.pcss";

.color-example {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__square {
    --size: 100px;

    width: var(--size);
    height: var(--size);
    background-color: var(--bgColor);
    box-shadow: var(--box-shadow);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
