@import "../mixins.pcss";

.flow {
  --columnGap: 32px;
  --rowGap: 16px;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--rowGap) * -1);
  margin-left: calc(var(--columnGap) * -1);

  & > * {
    margin-top: var(--rowGap);
    margin-left: var(--columnGap);
  }
}
