@import "../mixins.pcss";

.flow {
  --gapX: 32px;
  --gapY: 16px;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gapY) * -1);
  margin-left: calc(var(--gapX) * -1);

  & > * {
    margin-top: var(--gapY);
    margin-left: var(--gapX);
  }
}
