@import "../mixins.pcss";

.page-header {
  margin-bottom: calc(var(--section-padding-y) / 2);

  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__title {
    --marginBottom: 16px;
  }
}
