@import "../mixins.pcss";

.skills {
  &__inner {
    column-gap: 80px;
    
    @media (--tablet) {
      gap: var(--sectionPaddingY);
    }
  }
  
  &__item {
    @mixin fade-right 1.2s, 0.6s;
  }
}
