<div class="modal modal--auth" id="modal-need-auth" data-js-modal='{}'>
  <header class="modal__header">
    <h2>Авторизация</h2>
  </header>
  <% const formParams = {
    url: "./json/authExample.json",
    method: "GET",
    isConfirmBeforeSubmit: true
  } %>
  <div class="modal__body">

  </div>
</div>
