@import "mixins.pcss";

.i-icon {
  --color: var(--c-dark);
  --size: 1em;

  @mixin flex-center inline-flex;
  @mixin square var(--size);

  * {
    fill: var(--color);
  }
  
  &.icon-webpack {
    path:nth-child(1) {
      fill: transparent;
    }
  }
}
