@import "../../styles/mixins.pcss";

.logo {
  --size: 64px;
  
  @media (--mobile) {
    --size: 48px;
  }

  &__svg {
    @mixin square var(--size);

    &:hover {
      @media (--hoverable) {
        * {
          &,
          .is-light-theme-enabled & {
            fill: var(--c-accent);
          }
        }
      }
    }

    * {
      fill: var(--c-light);

      .is-light-theme-enabled & {
        fill: var(--c-dark);
      }
    }
  }
}
