@import "../../styles/mixins.pcss";

.logo {
  --size: 64px;
  
  @media (--mobile) {
    --size: 48px;
  }

  &__svg {
    width: var(--size);
    height: var(--size);
  
    @media (--hoverable) {
      &:hover {
        * {
          fill: var(--c-accent);
        }
      }
    }

    * {
      fill: var(--c-light);

      .is-light-theme-enabled & {
        fill: var(--c-dark);
      }
    }
  }
}
