<% const data = {
	title: 'Aleksander Lamkov. Frontend developer',
	flowContainerClass: ''
} %>

<%- require('../layouts/head.ejs')(data) %>

<div class="content__sections">
	<%- require('../layouts/hero.ejs')() %>
</div>

<%- require('../layouts/foot.ejs')() %>
