<footer class="footer container" id="contacts">
	<div class="footer__inner card">
		<div class="footer__body">
			<%#
				<div class="footer__title h2">
					Do you want to discuss<br class="hidden-mobile"/>
					<span class="accent-color">your project?</span>
				</div>
			%>
			<div class="footer__title h2">
				Do you want to ask<br class="hidden-mobile"/>
				<span class="accent-color">something interesting?</span>
			</div>
			<div class="footer__description">
				<p>
					Contact me. I am in touch mon-fri from 8 am to 8 pm (gmt).
				</p>
			</div>
		</div>
		<div class="footer__contacts">
			<%- require('../socials/template.ejs')({
				extraClasses: [
          'footer__soc1als'
				],
				items: [
					{
						label: 'GitHub',
						href: 'https://github.com/aleksanderlamkov',
						icon: 'github'
					},
					{
						label: 'LinkedIn',
						href: 'https://www.linkedin.com/in/aleksander-lamkov-569b87231/?locale=en_US',
						icon: 'linkedin'
					},
					{
						label: 'Telegram',
						href: 'https://t.me/a1rth',
						icon: 'telegram'
					},
					{
						label: 'Email',
						href: 'mailto:aleksanderlamkov@gmail.com',
						icon: 'email'
					},
					{
						label: 'Boosty',
						href: 'https://boosty.to/friendly-frontend',
						icon: 'boosty'
					},
					{
						label: 'YouTube',
						href: 'https://www.youtube.com/@AleksanderLamkov',
						icon: 'youtube',
					},
				]
			}) %>
			<div class="footer__copyright">
				© Alexander Lamkov, 2022
			</div>
		</div>
	</div>
</footer>
