			</main>
			<!-- footer -->
			<%- require('../components/footer/template.ejs')() %>
			<!-- /footer -->
			<!-- overlay -->
			<div class="overlay"></div>
			<!-- /overlay -->
		</div>
		<%- require('../layouts/modals.ejs')() %>
		<noscript></noscript>
	</body>
</html>
