			</main>
			<%- require('../components/footer/template.ejs')() %>
			<div class="overlay"></div>
		</div>
		<%# require('../layouts/modals.ejs')() %>
		<%- require('../components/preloader/template.ejs')() %>
		<noscript></noscript>
	</body>
</html>
