<%
const items = [
	{
		imgName: '2022-08',
		time: {
			datetime: '2022-08',
			label: 'August 2022'
		},
		title: 'Fancy Auth Form',
		href: 'https://aleksanderlamkov.github.io/fancy-auth-form/',
		description: 'Minimalistic form of authorization based on SPA with integration of several technologies: Vite, TypeScript, React, React Router, Redux, Redux Toolkit, Redux Persist, Formik, Yup, classNames, PostCSS, Vite SVG icon, Vitest etc.',
		stack: [
      'Vite',
			'TypeScript',
			'React',
			'React Router',
			'Redux',
			'Redux Toolkit',
			'Redux Persist',
			'Formik',
			'Yup',
			'PostCSS',
			'Vitest'
		],
		hasImageWrapperBorder: true,
	},
	{
		imgName: '2022-01',
		time: {
			datetime: '2022-01',
			label: 'January 2022'
		},
		title: 'Adeart - Online Gift Shop',
		href: 'https://adeart.ru/',
		description: 'Multi-page online store.',
		stack: [
			'EJS',
			'PostCSS',
			'JS',
			'WebPack'
		]
	},
	{
		imgName: '2021-12',
		time: {
			datetime: '2021-12',
			label: 'December 2021'
		},
		title: 'Multi-page website of the largest bank in the region',
		description: 'Many complex components were implemented in the project: credit calculators, multi-stage mortgage application forms, asynchronous filter of bank services, custom maps (REST API YandexMap) with ATMs and office points.',
		stack: [
			'EJS',
			'PostCSS',
			'JS',
			'React',
			'Redux',
			'WebPack',
		]
	},
]
%>

<section class="section scroll-effect" id="portfolio" data-js-scroll-effect>
	<div class="section__inner container">
		<header class="section__header">
			<h2 class="section__title">
				My <span class="accent-color">Portfolio</span>
			</h2>
		</header>
		<div class="section__body">
			<div class="portfolio">
				<ul class="portfolio__list grid">
					<% items.forEach((item, index) => { %>
						<li class="portfolio__item grid__item">
							<%- require('../components/portfolio-card/template.ejs')(item) %>
						</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</section>
