<%
const items = [
	{
		imgSrc: './images/projects/2022-03.jpg',
		time: {
			datetime: '2022-03',
			label: 'March 2022'
		},
		title: 'Short landing for transport company',
		description: false,
		stack: [
			'EJS',
			'PostCSS',
			'JS',
			'WebPack'
		]
	},
]
%>

<section class="section scroll-effect" id="portfolio" data-js-scroll-effect>
	<div class="section__inner container">
		<header class="section__header">
			<h2 class="section__title">
				My <span class="accent-color">Portfolio</span>
			</h2>
		</header>
		<div class="section__body">
			<div class="portfolio">
				<ul class="portfolio__list grid">
					<% items.forEach((item, index) => { %>
						<li class="portfolio__item grid__item">
							<%- require('../components/portfolio-card/template.ejs')(item) %>
						</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</section>
